[Desktop Entry]
Name=Tunnel Manager
Comment=Manage SSH Tunnels
TryExec=tunnelmanager
Exec=tunnelmanager
Type=Application
Categories=GTK;Network;
StartupNotify=true
Icon=gtk-network
